@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

html,
body {
  background: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}